@import url("https://fonts.googleapis.com/css?family=Oswald|");
.page-id-514275 #wpcf7-f514724-p514275-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  border-width: 0px!important;
  padding: 10px 24px;
  background-color: #ff6340 !important;
  color: #ffffff !important;
}
.page-id-514275 #wpcf7-f514724-p514275-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514275 #wpcf7-f514724-p514275-o1 label {
  font-weight: 500!important;
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
}
.page-template-default #wpcf7-f514776-p514267-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-template-default #wpcf7-f514776-p514267-o1 input[type=text] {
  color: #000000 !important;
}
.page-template-default #wpcf7-f514776-p514267-o1 input[type=email] {
  color: #000000 !important;
}
.page-template-default #wpcf7-f514776-p514267-o1 input[type=submit] {
  font-weight: 700!important;
  font-size: 24px!important;
  padding: 10px 24px!important;
  background-color: #ff6340 !important;
  color: #ffffff !important;
}
.page-template-default #wpcf7-f514776-p514267-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514804 #wpcf7-f514795-p514804-o1 label {
  font-size: 18px!important;
  font-family: Oswald!important;
  line-height: 27px!important;
  font-weight: 500!important;
}
.page-id-514804 #wpcf7-f514795-p514804-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514804 #wpcf7-f514795-p514804-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  background-color: #ff6340 !important;
  color: #ffffff !important;
  padding: 10px 24px!important;
}
.page-id-514804 #wpcf7-f514795-p514804-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514815 #wpcf7-f514819-p514815-o1 label {
  font-size: 18px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
  line-height: 27px!important;
}
.page-id-514815 #wpcf7-f514819-p514815-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514815 #wpcf7-f514819-p514815-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  background-color: #ff6340 !important;
  color: #ffffff !important;
  padding: 10px 24px!important;
}
.page-id-514815 #wpcf7-f514819-p514815-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514254 #wpcf7-f514764-p514254-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514254 #wpcf7-f514764-p514254-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  background-color: #ff6340 !important;
  color: #ffffff !important;
  padding: 10px 24px!important;
}
.page-id-514254 #wpcf7-f514764-p514254-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514254 #wpcf7-f514764-p514254-o1 input[type=email] {
  color: #1a1a1a !important;
}
.page-id-514254 #wpcf7-f514764-p514254-o1 input[type=text] {
  color: #1a1a1a !important;
}
.page-id-514275 #wpcf7-f514724-p514275-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514275 #wpcf7-f514724-p514275-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514282 #wpcf7-f514745-p514282-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-weight: 500!important;
  font-family: Oswald!important;
}
.page-id-514282 #wpcf7-f514745-p514282-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514282 #wpcf7-f514745-p514282-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514282 #wpcf7-f514745-p514282-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px;
}
.page-id-514282 #wpcf7-f514745-p514282-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514288 #wpcf7-f514714-p514288-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-weight: 500!important;
  font-family: Oswald!important;
}
.page-id-514288 #wpcf7-f514714-p514288-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514288 #wpcf7-f514714-p514288-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514288 #wpcf7-f514714-p514288-o1 input[type=submit] {
  color: #ffffff !important;
  font-size: 24px!important;
  font-weight: 700!important;
  background-color: #ff6340 !important;
  padding: 10px 24px;
}
.page-id-514288 #wpcf7-f514714-p514288-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514299 #wpcf7-f514755-p514299-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514299 #wpcf7-f514755-p514299-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514299 #wpcf7-f514755-p514299-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514299 #wpcf7-f514755-p514299-o1 input[type=submit] {
  color: #ffffff !important;
  font-size: 24px!important;
  font-weight: 700!important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514299 #wpcf7-f514755-p514299-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514307 #wpcf7-f514677-p514307-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-weight: 500!important;
  font-family: Oswald!important;
}
.page-id-514307 #wpcf7-f514677-p514307-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514307 #wpcf7-f514677-p514307-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514307 #wpcf7-f514677-p514307-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514307 #wpcf7-f514677-p514307-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514314 #wpcf7-f514734-p514314-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514314 #wpcf7-f514734-p514314-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514314 #wpcf7-f514734-p514314-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514314 #wpcf7-f514734-p514314-o1 input[type=submit] {
  color: #ffffff;
  font-size: 24px!important;
  font-weight: 700!important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514314 #wpcf7-f514734-p514314-o1 input[type=submit]:hover {
  color: #000000 !important;
  font-weight: 700!important;
}
.page-id-514320 #wpcf7-f514606-p514320-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514320 #wpcf7-f514606-p514320-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514320 #wpcf7-f514606-p514320-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514320 #wpcf7-f514606-p514320-o1 input[type=submit] {
  color: #ffffff !important;
  font-size: 24px!important;
  font-weight: 700;
  padding: 10px 24px!important;
  background-color: #ff6340 !important;
}
.page-id-514320 #wpcf7-f514606-p514320-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514328 #wpcf7-f514686-p514328-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514328 #wpcf7-f514686-p514328-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514328 #wpcf7-f514686-p514328-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514328 #wpcf7-f514686-p514328-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514328 #wpcf7-f514686-p514328-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514336 #wpcf7-f514667-p514336-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514336 #wpcf7-f514667-p514336-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514336 #wpcf7-f514667-p514336-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514336 #wpcf7-f514667-p514336-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514336 #wpcf7-f514667-p514336-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514345 #wpcf7-f514704-p514345-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514345 #wpcf7-f514704-p514345-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514345 #wpcf7-f514704-p514345-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514345 #wpcf7-f514704-p514345-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  padding: 10px 24px!important;
  background-color: #ff6340 !important;
}
.page-id-514345 #wpcf7-f514704-p514345-o1 input[type=submit]:hover {
  color: #000000 !important;
  font-size: 24px;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514351 #wpcf7-f514627-p514351-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514351 #wpcf7-f514627-p514351-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514351 #wpcf7-f514627-p514351-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514351 #wpcf7-f514627-p514351-o1 input[type=submit] {
  color: #ffffff;
  font-size: 24px!important;
  font-weight: 700!important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514351 #wpcf7-f514627-p514351-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514358 #wpcf7-f514618-p514358-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514358 #wpcf7-f514618-p514358-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514358 #wpcf7-f514618-p514358-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514358 #wpcf7-f514618-p514358-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514358 #wpcf7-f514618-p514358-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514369 #wpcf7-f514780-p514369-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514369 #wpcf7-f514780-p514369-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514369 #wpcf7-f514780-p514369-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514369 #wpcf7-f514780-p514369-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514369 #wpcf7-f514780-p514369-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514158 #wpcf7-f514695-p514158-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514158 #wpcf7-f514695-p514158-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514158 #wpcf7-f514695-p514158-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514158 #wpcf7-f514695-p514158-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514158 #wpcf7-f514695-p514158-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514379 #wpcf7-f514589-p514379-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514379 #wpcf7-f514589-p514379-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514379 #wpcf7-f514589-p514379-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514379 #wpcf7-f514589-p514379-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514379 #wpcf7-f514589-p514379-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514393 #wpcf7-f514657-p514393-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514393 #wpcf7-f514657-p514393-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514393 #wpcf7-f514657-p514393-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514393 #wpcf7-f514657-p514393-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514393 #wpcf7-f514657-p514393-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514386 #wpcf7-f514553-p514386-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514386 #wpcf7-f514553-p514386-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514386 #wpcf7-f514553-p514386-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514386 #wpcf7-f514553-p514386-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514386 #wpcf7-f514553-p514386-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514400 #wpcf7-f514644-p514400-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514400 #wpcf7-f514644-p514400-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514400 #wpcf7-f514644-p514400-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514400 #wpcf7-f514644-p514400-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514400 #wpcf7-f514644-p514400-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514407 #wpcf7-f514635-p514407-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-family: Oswald!important;
  font-weight: 500!important;
}
.page-id-514407 #wpcf7-f514635-p514407-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514407 #wpcf7-f514635-p514407-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514407 #wpcf7-f514635-p514407-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514407 #wpcf7-f514635-p514407-o1 input[type=submit]:hover {
  color: #000000 !important;
}
.page-id-514507 #wpcf7-f514598-p514507-o1 label {
  font-size: 18px!important;
  line-height: 27px!important;
  font-weight: 500!important;
  font-family: Oswald!important;
}
.page-id-514507 #wpcf7-f514598-p514507-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-514507 #wpcf7-f514598-p514507-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-514507 #wpcf7-f514598-p514507-o1 input[type=submit] {
  font-size: 24px!important;
  font-weight: 700!important;
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 10px 24px!important;
}
.page-id-514507 #wpcf7-f514598-p514507-o1 input[type=submit]:hover {
  color: #000000 !important;
}
@media screen and (max-width: 568px) {
  .page-id-514307 #wpcf7-f514677-p514307-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.86);
  }
  .page-id-514307 #wpcf7-f514677-p514307-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.86);
  }
  .page-id-514314 #wpcf7-f514734-p514314-o1 input[type=email] {
    transform: scale(0.8);
    transform-origin: left!important;
  }
  .page-id-514314 #wpcf7-f514734-p514314-o1 input[type=text] {
    transform-origin: left;
    transform: scale(0.8);
  }
  .page-id-514299 #wpcf7-f514755-p514299-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514299 #wpcf7-f514755-p514299-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514288 #wpcf7-f514714-p514288-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78);
  }
  .page-id-514288 #wpcf7-f514714-p514288-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78);
  }
  .page-id-514282 #wpcf7-f514745-p514282-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514282 #wpcf7-f514745-p514282-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514320 #wpcf7-f514606-p514320-o1 input[type=text] {
    transform-origin: left;
    transform: scale(0.8);
  }
  .page-id-514320 #wpcf7-f514606-p514320-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514328 #wpcf7-f514686-p514328-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514328 #wpcf7-f514686-p514328-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514336 #wpcf7-f514667-p514336-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514336 #wpcf7-f514667-p514336-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514267 #wpcf7-f514776-p514267-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514267 #wpcf7-f514776-p514267-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514254 #wpcf7-f514764-p514254-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514254 #wpcf7-f514764-p514254-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514345 #wpcf7-f514704-p514345-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514345 #wpcf7-f514704-p514345-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514351 #wpcf7-f514627-p514351-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514351 #wpcf7-f514627-p514351-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514358 #wpcf7-f514618-p514358-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8) !important;
  }
  .page-id-514358 #wpcf7-f514618-p514358-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8) !important;
  }
  .page-id-514369 #wpcf7-f514780-p514369-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514369 #wpcf7-f514780-p514369-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514158 #wpcf7-f514695-p514158-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8) !important;
  }
  .page-id-514158 #wpcf7-f514695-p514158-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8) !important;
  }
  .page-id-514379 #wpcf7-f514589-p514379-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8) !important;
  }
  .page-id-514379 #wpcf7-f514589-p514379-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8) !important;
  }
  .page-id-514393 #wpcf7-f514657-p514393-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514393 #wpcf7-f514657-p514393-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514386 #wpcf7-f514553-p514386-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514386 #wpcf7-f514553-p514386-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514400 #wpcf7-f514644-p514400-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8) !important;
  }
  .page-id-514400 #wpcf7-f514644-p514400-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8) !important;
  }
  .page-id-514407 #wpcf7-f514635-p514407-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514407 #wpcf7-f514635-p514407-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514815 #wpcf7-f514819-p514815-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514815 #wpcf7-f514819-p514815-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514804 #wpcf7-f514795-p514804-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514804 #wpcf7-f514795-p514804-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514507 #wpcf7-f514598-p514507-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514507 #wpcf7-f514598-p514507-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
}
@media screen and (max-width: 320px) {
  .page-id-514267 #wpcf7-f514776-p514267-o1 input[type=text] {
    transform-origin: left;
    transform: scale(0.8);
  }
  .page-id-514267 #wpcf7-f514776-p514267-o1 input[type=email] {
    transform-origin: left;
    transform: scale(0.8);
  }
  .page-id-514804 #wpcf7-f514795-p514804-o1 input[type=text] {
    transform-origin: left;
    transform: scale(0.78) !important;
  }
  .page-id-514804 #wpcf7-f514795-p514804-o1 input[type=email] {
    transform-origin: left;
    transform: scale(0.78) !important;
  }
  .page-id-514815 #wpcf7-f514819-p514815-o1 input[type=text] {
    transform-origin: left;
    transform: scale(0.8);
  }
  .page-id-514815 #wpcf7-f514819-p514815-o1 input[type=email] {
    transform-origin: left;
    transform: scale(0.8);
  }
  .page-id-514254 #wpcf7-f514764-p514254-o1 input[type=text] {
    transform-origin: left;
    transform: scale(0.8);
  }
  .page-id-514254 #wpcf7-f514764-p514254-o1 input[type=email] {
    transform-origin: left;
    transform: scale(0.8);
  }
  .page-id-514275 #wpcf7-f514724-p514275-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514275 #wpcf7-f514724-p514275-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514282 #wpcf7-f514745-p514282-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514282 #wpcf7-f514745-p514282-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514288 #wpcf7-f514714-p514288-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514288 #wpcf7-f514714-p514288-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514299 #wpcf7-f514755-p514299-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514299 #wpcf7-f514755-p514299-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514307 #wpcf7-f514677-p514307-o1 input[type=text] {
    transform-origin: left;
    transform: scale(0.74);
  }
  .page-id-514307 #wpcf7-f514677-p514307-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.74);
  }
  .page-id-514314 #wpcf7-f514734-p514314-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78);
  }
  .page-id-514314 #wpcf7-f514734-p514314-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78);
  }
  .page-id-514320 #wpcf7-f514606-p514320-o1 input[type=text] {
    transform: scale(0.8);
    transform-origin: left!important;
  }
  .page-id-514320 #wpcf7-f514606-p514320-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514328 #wpcf7-f514686-p514328-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514328 #wpcf7-f514686-p514328-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514336 #wpcf7-f514667-p514336-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514336 #wpcf7-f514667-p514336-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514345 #wpcf7-f514704-p514345-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514345 #wpcf7-f514704-p514345-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514351 #wpcf7-f514627-p514351-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514351 #wpcf7-f514627-p514351-o1 label {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514351 #wpcf7-f514627-p514351-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.8);
  }
  .page-id-514358 #wpcf7-f514618-p514358-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514358 #wpcf7-f514618-p514358-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514369 #wpcf7-f514780-p514369-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514369 #wpcf7-f514780-p514369-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514158 #wpcf7-f514695-p514158-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514158 #wpcf7-f514695-p514158-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514379 #wpcf7-f514589-p514379-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514379 #wpcf7-f514589-p514379-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514393 #wpcf7-f514657-p514393-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514393 #wpcf7-f514657-p514393-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514386 #wpcf7-f514553-p514386-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514386 #wpcf7-f514553-p514386-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514400 #wpcf7-f514644-p514400-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514400 #wpcf7-f514644-p514400-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514407 #wpcf7-f514635-p514407-o1 input[type=submit] {
    transform-origin: left;
  }
  .page-id-514407 #wpcf7-f514635-p514407-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514407 #wpcf7-f514635-p514407-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514507 #wpcf7-f514598-p514507-o1 input[type=text] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
  .page-id-514507 #wpcf7-f514598-p514507-o1 input[type=email] {
    transform-origin: left!important;
    transform: scale(0.78) !important;
  }
}
.page-id-8985 #wpcf7-f515438-p8985-o1 label {
  font-family: Oswald!important;
  font-weight: 500!important;
  font-size: 18px!important;
}
.page-id-8985 #wpcf7-f515438-p8985-o1 input[type=text] {
  color: #000000 !important;
}
.page-id-8985 #wpcf7-f515438-p8985-o1 input[type=email] {
  color: #000000 !important;
}
.page-id-8985 #wpcf7-f515438-p8985-o1 input[type=submit] {
  color: #ffffff !important;
  background-color: #ff6340 !important;
  padding: 5px 20px!important;
}
.page-id-8985 #wpcf7-f515438-p8985-o1 input[type=submit]:hover {
  color: #000000 !important;
  background-color: #ff6340;
}
.page-id-514804 #wpcf7-f514795-p514804-o1 input[type=email] {
  color: #000000 !important;
}
